#nav {
  .sidebar{
  display: none;
  }
  .nav_left:hover .pullDown{
    display: none;
  }
}


#sidebar{
  width: 100%;
  background: #f3f3f3;
  h2{
    padding: 10px 0;
    line-height: 22px;
    span{
      margin-right: 10px;
    }
    strong{
      color: #999999;
    }
    input{
      width: 136px;
      height: 24px;
      border: 1px solid #cccccc;
      margin: 0 9px;
    }
    i{
      color: #e31436;
    }
  }
  .column{
    width: 100%;
    background: #ffffff;
    border: 1px solid #eaeaea;
    .column_inner{
      border-bottom: 1px dashed #eaeaea;
      .menu{
        float: left;
        background: #f8f8f8;
        padding-top: 6px;
        padding-left: 15px;
        width: 110px;
        line-height: 24px;
        height: 36px;
      } 
      .bb{
        height: 57px;
      }
      .submenu{
        width: 858px;
        padding: 6px 0 3px 20px;
        float: left;
        a{
          float: left;
          height: 24px;
          width: 138px;
          line-height: 24px;
        }
      }
      ul{
        width: 858px;
        padding: 6px 0 3px 20px;
        float: left;
        a{
          float: left;
          height: 24px;
          width: 94px;
          line-height: 24px;
        }
      }
      span{
        width: 48px;
        height: 20px;
        border: 1px solid #eaeaea;
        line-height: 20px;
        text-align: center;
        float: left;
        margin-top: 8px;
        margin-right: 14px;
        cursor: pointer;
      }
      i{
        float: left;
        margin-top: 8px;
        line-height: 20px;
        cursor: pointer;
      }
    }
  }
  .mainTop{
    width: 100%;
    height: 40px; 
    border: solid 1px #eaeaea;
    position: relative;
    background: #ffffff;
    margin: 10px 0;
    >span{
      position: absolute;
      left: -1px;
      top: -1px;
      border: solid 1px #eeeeee;
      width: 67px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      // cursor: pointer;
      // z-index: 11;
      // color: #e31436;

    }
    .span2{
      left: 67px;
      border: solid 1px #eeeeee;
      z-index: 10;
      color: #333333;
    }
    .span3{
      left: 135px;
      border: solid 1px #eeeeee;
      color: #333333;
    }
    .span4{
      left: 203px;
      border: solid 1px #eeeeee;
      color: #333333;
    }
    span:hover .span1{
      border: solid 1px #eeeeee;
      z-index: 12;
      color: #eeeeee;
    }
    span:hover{
      border: solid 1px #e31436;
      z-index: 12;
      color: #e31436;
    }
  }
  #main{
    overflow: hidden;
    .mainBig{
      width: 1120px;
    }
    .main_inner{
      width: 262px;
      height: 460px;
      background: #ffffff;
      border: 1px solid #f3f3f3;
      position: relative;
      margin-bottom: 10px;
      margin-right: 17px;
      float: left;
      .imgBig{
        width: 232px;
        height: 232px;
        margin: 15px 15px 10px;
      }
      .imgSamll{
        img{
          width: 30px;
          height: 30px;
          margin-left: 15px;
          border: 1px solid #dddddd;
          margin-bottom: 11px;
        }
        
      }
      >h3{
        font-size: 16px;
        color: #ff0000;
        text-indent: 15px;
        line-height: 30px;
      }
      .vip{
        width: 106px;
        height: 22px;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        margin-left: 15px;
        margin-bottom: 8px;
        .vipLeft{
          width: 53px;
          height: 22px;
          float: left;
          background: #37373f;
          font-size: 14px;
          color: #ffe4be;
          line-height: 22px;
          text-align: center;
        }
        .vipRight{
          width: 53px;
          height: 22px;
          float: left;
          background: #ffe4be;
          font-size: 14px;
          color: #37373f;
          line-height: 22px;
          text-align: center;
        }
        .vipContent{
          height: 10px;
          width: 10px;
          position: absolute;
          top: 6px;
          left: 50px;
          background: #ffe4be;
          border-radius: 5px;
        }

      }
      >a{
        display: block;
        margin: 0 15px;
        line-height: 20px;
      }
      a:hover{
        text-decoration: underline;
        color: #ff0000;
        
      }
      .removes{
        width: 260px;
        height: 78px;
        padding: 0 15px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #ffffff;
        .removesInner{
          
          height: 16px;
          margin-bottom: 12px;
          i{
            float: left;
            height: 16px;
            line-height: 16px;
            padding: 0 3px;
            background: #e31436;
            color: #ffffff;
            border-radius: 1px;
            margin-right: 8px;
          }
        }
        .serve{
          height: 16px;
          span{
            line-height: 16px;
            color: #cccccc;
          }
          .field{
            float: right;
          }
        }
        p{
          color: #999999;
          line-height: 28px;
        }
      }
    }
    .main_inner:hover{
      border: 1px solid #e31436;
    }
  }
}











